{% load static %} {% if user.is_authenticated %}
<nav class="navbar-main">
  <div class="navbar-left">
    <div class="navbar-title">
  {% if user.is_authenticated %}
    
    {# SE FOR PSICÓLOGO #}
    {% if user.role == 'PSICOLOGO' %}
      <a href="{% url 'psi-dashboard' %}" class="navbar-logo-link">
        <h3><span class="material-icons">psychology</span>PsiConnect</h3>
      </a>

    {# SE FOR PACIENTE #}
    {% else %}
      <a href="{% url 'user-dashboard' %}" class="navbar-logo-link">
        <h3><span class="material-icons">psychology</span>PsiConnect</h3>
      </a>
    {% endif %}

  {% else %}
    {# SE NÃO TIVER LOGADO (Manda para a Home) #}
    <a href="/" class="navbar-logo-link">
      <h3><span class="material-icons">psychology</span>PsiConnect</h3>
    </a>
  {% endif %}
</div>
  </div>

  <div class="navbar-right">
    <div class="navbar-user-dropdown" onclick="toggleMenu()">
      <div class="user-trigger">
        {% if user.profile.photo.url %}
        <img
          src="https://placehold.co/150x150/6A994E/FFFFFF?text={{ user.first_name.0 }}"
          alt="Foto de Perfil"
          class="user-pic"
        />
        {% else %}
        <img
          src="https://placehold.co/150x150/6A994E/FFFFFF?text={{ user.first_name.0 }}"
          alt="Foto de Perfil"
          class="user-pic"
        />
        {% endif %}

        <div class="user-info">
          <strong>{{ user.first_name|default:user.username }}</strong>
          <small>CRP 06/123456</small>
        </div>
        <span class="material-icons arrow">expand_more</span>
      </div>

      <div class="dropdown-menu">
        {% if user.role == 'PSICOLOGO' and user.psicologo.id %}
        <a href="{% url 'perfil-psi' user.psicologo.id %}">
          <span class="material-icons">account_circle</span>
          Meu Perfil
        </a>

        {% elif user.role == 'USUARIO' and user.paciente.id %}
        <a href="{% url 'perfil-paciente' user.paciente.id %}">
          <span class="material-icons">face</span>
          Meu Perfil
        </a>
        {% endif %}
        <a href="#">
          <span class="material-icons">settings</span>
          Configurações
        </a>

        <div class="dropdown-divider"></div>

        {% if user.profile.is_psychologist %}
        <a href="#">
          <span class="material-icons">calendar_month</span>
          Minha Agenda
        </a>
        {% else %}
        <a href="#">
          <span class="material-icons">add_circle</span>
          Agendar Consulta
        </a>
        {% endif %}

        <div class="dropdown-divider"></div>

        <form
          method="post"
          action="{% url 'logout' %}"
          class="logout-form-dropdown"
        >
          {% csrf_token %}
          <button type="submit">
            <span class="material-icons">logout</span>
            Sair
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>

<script>
  function toggleMenu() {
    const dropdown = document.querySelector(".navbar-user-dropdown");
    dropdown.classList.toggle("ativo");
  }

  // Fecha se clicar fora
  window.onclick = function (event) {
    const dropdown = document.querySelector(".navbar-user-dropdown");
    // Verifica se o clique NÃO foi dentro do dropdown
    if (!dropdown.contains(event.target)) {
      dropdown.classList.remove("ativo");
    }
  };
</script>

{% endif %}
