{% extends 'base.html' %}

{% load static %}

{% block title %}Nossos Psicólogos - PsiConnect{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'psicologos_list.css' %}">
{% endblock %}


{% block content %}
    <main class="listagem-container">
        
        <h1>Encontre seu Psicólogo</h1>
        <p>Estes são os profissionais disponíveis em nossa plataforma.</p>

        <div class="psicologos-grid">
            
            {% for psi in psicologos %}
                <article class="psi-card">
                    <div class="psi-card-header">
                        <img src="URL_DA_FOTO_AQUI" alt="Foto de {{ psi.usuario.first_name }}">
                        <div class="psi-card-info">
                            <h3> <a href="{% url 'user-psi-detail' psi.id %}">{{ psi.usuario.first_name }} {{ psi.usuario.last_name }}</a></h3>
                            <span>{{ psi.especialidade|default:'Terapia Cognitiva' }}</span>
                        </div>
                    </div>
                    <div class="psi-card-rating">
                        <span class="material-icons">star</span>
                        <strong>4.9</strong> (120) </div>
                    <a href="#" class="agendar-button">Agendar Consulta</a>
                </article>
            {% empty %}
                <p class="empty-message">Nenhum psicólogo encontrado no momento.</p>
            {% endfor %}
        
        </div> 
    </main>
{% endblock %}